.main-header {
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  position: sticky;
  top: 0;
  z-index: 1100;
  /* background-color: red; */
}
.main-nav {
  position: absolute;
  left: 2rem;
}
.header-title {
  font-family: sans-serif;
  letter-spacing: 1px;
  color: white;
  text-align: center;
}
